@charset "utf-8";
/* CSS Document */

.ui-field-contain {
	padding: .75em 0;	
}

.ui-footer h4.ui-title {
	margin-top: 0.6em;
	margin-right: 0px;
	margin-bottom: 0.6em;
	margin-left: 0px;
	font-size: 11px;
}
